name: Deploy Landing

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/rentora/landing
            git pull origin master
            cd /var/www/rentora
            docker-compose up -d --build --no-deps landing
            docker-compose logs --tail=50 landing